.playlistForm-div{
    position: fixed;
    z-index: 5;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.playlistForm{
    width: 100%;
    max-width: 30%;
    background-color:var(--background-color1);
    border-radius: 5px;
    padding: 1.5rem;
    position: fixed;
    z-index: 4;
    height: max-content;
}

.input-style{
    outline: none;
    padding: 8px 0px 8px 50px;
    transition: 0.3s;
    border: 1px solid #e6e6e6;
  }
  .playlist-input{
    border: 0px;
    width: 75%;
    padding: 5px;
  }  

.overlay{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.playlistForm-overlay{
    background-color:rgba(12, 13, 13, 0.6) ;
    z-index: 3;
}